jdk
zookeeper/lib/*.jar
zookeeper/lib/*.txt
zookeeper/conf/zoo.cfg.dynamic.next

kafka/libs/*.jar
kafka/libs/*.asc

redis/*.tar.gz
redis/redis-cli
redis/redis-server

memcached/*.tar.gz
memcached/memcached-server

disk/*
jar/*.jar
.DS_Store