jdk
resource/zookeeper/lib/*.jar
resource/zookeeper/lib/*.txt
resource/zookeeper/conf/zoo.cfg.dynamic.next

resource/kafka/libs/*.jar
resource/kafka/libs/*.asc

resource/redis/*.tar.gz
resource/redis/redis-cli
resource/redis/redis-server

resource/memcached/*.tar.gz
resource/memcached/memcached-server

resource/skywalking/*.tar.gz
resource/skywalking/apache-skywalking-apm-bin

resource/mysql/boost*
resource/mysql/mysql*
resource/mysql/rpcsvc*

resource/elasticsearch

disk/*
jar/*.jar
.DS_Store
*.tar.gz